.fad-panel-body {
  height: 80vh;
}

.fad-das-img {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
}

.fad-logo-lg {
  width: 100%;
}

.fad-img-logo {
  width: 3rem;
}

@media only screen and (max-width: 760px) {
  .fad-das-img {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20rem;
  }
}